.intro-section {

	margin-bottom: 50px;

	.intro-row {

		-webkit-border-radius: 4px;
		background: #ececec;
	    -moz-border-radius: 4px;
	    -o-border-radius: 4px;
	    padding: 26px 10px;

	    @include clearfix;

		.intro-title {

			h3 {

				color: #8C9899;
				font-family: 'Open Sans', sans-serif;
				font-size: 30px;
				font-weight: 600;
				line-height: 36px;
				margin: 0;
				

			}

			p {

				color: #777;
				font-family: 'Open Sans', sans-serif;
				font-size: 13px;
				line-height: 21px;
				margin: 0;

			}

		}

		.btn {

			-moz-border-radius: 6px;	
			-o-border-radius: 6px;	
			-webkit-border-radius: 6px;	
			background: $hover-color;
			border-radius: 6px;
			color: #fff;
			font-family: 'Open Sans', sans-serif;
			font-size: 20px;
			line-height: 24px;
			margin-top: 7px;
			padding: 10px 22px;
			text-transform: uppercase;

			&:hover {

				-moz-box-shadow: inset 0px -4px 0px $hover-color-bottom;
				-o-box-shadow: inset 0px -4px 0px $hover-color-bottom;
				-webkit-box-shadow: inset 0px -4px 0px $hover-color-bottom;
				box-shadow: inset 0px -4px 0px $hover-color-bottom;
				
			}

		}

	}

}
