.service-section {

	display: block;
    text-align: center;

	.service-row {

		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		flex-wrap: wrap;

		@include clearfix;

		& > [class*='col-'] {

			display: flex;
			flex-direction: column;
			-moz-border-radius: 4px;	
			-moz-box-shadow: inset 0px -3px 3px rgb(216, 216, 216);
			-o-border-radius: 4px;	
			-o-box-shadow: inset 0px -3px 3px rgb(216, 216, 216);
			-webkit-border-radius: 4px;	
			-webkit-box-shadow: inset 0px -3px 3px rgb(216, 216, 216);
			background: #f8f8f8;
			border-radius: 4px;
			box-shadow: inset 0px -3px 3px rgb(216, 216, 216);
			cursor:pointer;
			padding: 20px 20px 10px;

		}

		.service-item {

			/*-moz-border-radius: 4px;	
			-moz-box-shadow: inset 0px -3px 3px rgb(216, 216, 216);
			-o-border-radius: 4px;	
			-o-box-shadow: inset 0px -3px 3px rgb(216, 216, 216);
			-webkit-border-radius: 4px;	
			-webkit-box-shadow: inset 0px -3px 3px rgb(216, 216, 216);
			background: #f8f8f8;
			border-radius: 4px;
			box-shadow: inset 0px -3px 3px rgb(216, 216, 216);
			cursor:pointer;
			padding: 20px 20px 10px;*/
			position: static;


			i {
				text-align: center;
				color: #62bdbd;
			}

			h3 {

				color: #7f8c8c;
				font-family: 'Open Sans', Arial, sans-serif;
				font-size: 16px;
				font-weight: 800;
				line-height: 20px;
				
				padding-bottom: 10px;
				text-transform: uppercase;

			}

			p {

				color: #777;
				font-family: 'Open Sans', Arial, sans-serif;
				font-size: 13px;
				line-height: 20px;
				
			    font-weight: 300;

			}

			.btn {

				-moz-box-shadow: inset 0px -4px 0px #47817E;
				-o-border-radius: 6px;
				-o-box-shadow: inset 0px -4px 0px #47817E;
				-webkit-border-radius: 6px;	
				-webkit-box-shadow: inset 0px -4px 0px #47817E;
				background: #62A29E;
				border-radius: 6px;
				box-shadow: inset 0px -4px 0px #47817E;
				color: #fff;
				font-family: 'Open Sans', sans-serif;
				font-size: 14px;
				line-height: 18px;
				margin-top: 7px;
				padding: 10px 22px;
				position: absolute;
    			-moz-border-radius: 6px;	
    			bottom: -18px;
    			left: 30%;

			}

			&:hover {

				background: #fff;

				i {

					color: #e2534b;

				}

				.btn {

					-moz-box-shadow: inset 0px -4px 0px $hover-color-bottom;
					-o-box-shadow: inset 0px -4px 0px $hover-color-bottom;
					-webkit-box-shadow: inset 0px -4px 0px $hover-color-bottom;
					box-shadow: inset 0px -4px 0px $hover-color-bottom;
					background: $hover-color;
					
				}

			}
		}

	}

}